@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
}
h1 {
    color: #555;
}
a {
    text-decoration: none;
}
.pokemon-model {
    display: none;
}
.container {
    display: flex;
}
.filters {
    width: 15rem;
    height: 100%;
    display: none;
}
.pokemons {
    padding: 2rem;
    flex: 1;
    background-color: #FFF;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.poke-area {
    width: 14rem;
    height: 14rem;
    background: url(../images/bg-poke.png) right bottom no-repeat;
    background-size: 80%;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.poke-info {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}
.poke-info span {
    font-size: 1.1rem;
}
.poke-info span:first-child::first-letter{
    text-transform: uppercase;
}
.poke-info span:last-child {
    color: #555;
}
.poke-status {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5rem;
}
.poke-status span {
    margin-bottom: 10px;
    display: block;
    filter: brightness(1.1);
    padding: .3rem;
    border-radius: 8px;
    box-shadow: 1px 3px 3px 1px rgb(0 0 0 / 30%);
}
.poke-status a {
    margin-top: 1rem;
    color: inherit;
    background-color: inherit;
    padding: .3rem;
    filter: brightness(1.1);
    border-radius: 8px;
    box-shadow: 1px 3px 3px 1px rgb(0 0 0 / 30%);
}
.poke-status a:hover {
    filter: opacity(0.8);
}
.poke-data {
    flex: 1;
    display: flex;
    align-items: center;
}
.poke-pic {
    width: 5rem;
}
.poke-pic img {
    width: 100%;
    max-height: 6.25rem;
}


.poke-modal {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    /* opacity: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .5s;
}
.poke-modal .area-modal {
    background-color: #FFF;
    position: relative;
    border-radius: 10px;
}
.area-modal .close-modal {
    font-size: 1.5rem;
    text-align: right;
}
.area-modal .close-modal a {
    color: darkred;
    transition: .5s;
}
.area-modal .close-modal a:hover{
    color: red;
}
.area-modal .modal-poke--area {
    background: url(../images/bg-poke.png) right bottom no-repeat;
    padding: 1rem;
}
.area-modal .modal-pic {
    display: flex;
    justify-content: center;
}
.area-modal .modal-pic img {
    max-height: 15rem;
}
.area-modal .modal-poke--status {
    padding: 1rem;
    color: #555;
    background-color: #FFF;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.area-modal .modal-name {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.area-modal .modal-name span::first-letter {
    text-transform: uppercase;
}
.area-modal .modal-type {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.area-modal .modal-type span {
    padding: .5rem .6rem;
    border-radius: 8px;
}
.area-modal .modal-detail {
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}
.area-modal .modal-detail span {
    display: block;
}
.modal-performance h5 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1rem 0;
}
.modal-performance span {
    display: inline-block;
}
.modal-performance div {
    display: flex;
    align-items: center;
    margin: 0.3rem 0;
}
.modal-performance .performance > span:first-child {
    width: 3rem;
}
.modal-performance div .progress {
    min-width: 14rem;
}
.modal-performance .progress {
    width: 100%;
    height: 1.2rem;
    border: 0.5px solid #CCC;
    border-radius: .6rem;
}
.modal-performance .progress-bar {
    height: 100%;
    border-radius: inherit;
    justify-content: flex-end;
}
.modal-performance .progress-bar span {
    color: #000;
    padding: .3rem;
    font-size: .9rem;
}
.modal-performance .hp .progress-bar {
    background-color: red;
}
.modal-performance .atk .progress-bar {
    background-color: darkslateblue;
}
.modal-performance .def .progress-bar {
    background-color: deeppink;
}
.modal-performance .spd .progress-bar {
    background-color: green;
}
.modal-performance .exp .progress-bar {
    background-color: blue;
}

@media (max-width: 1250px) {
    .pokemons {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) {
    .pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 770px) {
    .pokemons {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px) {
    .pokemons {
        grid-template-columns: repeat(1, 1fr);
    }
}